/* Styling for navigation bar */
#navbar {
    position: absolute;
    width: 1440px;
    height: 107px;
    left: 0px;
    top: 0px;
  }
  /* Styling for logo image */
  #navbar img {
    position: absolute;
    left: 10.28%;
    right: 84.79%;
    top: 21.5%;
    bottom: 12.15%;

    background: url(pantry-icon-color.png);
  }
  /* Styling for "guest" */
  #navbar button.guest {
    position: absolute;
    left: 72.22%;
    right: 20.83%;
    top: 29.91%;
    bottom: 23.36%;
    background: #FFFFFF;
    border: 1px solid #E37861;
    border-radius: 5px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

/* Tomato red */

    color: #E37861;

  }
  /* Styling for "login" button */
  #navbar button.login {
    position: absolute;
    left: 82.64%;
    right: 10.42%;
    top: 29.91%;
    bottom: 23.36%;
    background: #E37861;
    border: 1px solid #E37861;
    border-radius: 5px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #FFFFFF;
  }
#navbar2 {
    position: absolute;
    width: 1440px;
    height: 67px;
    left: 0px;
    top: 107px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    /* Green */

    background: #5E7F64;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  }
  #navbar2 button.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    left: 10.97%;
    right: 83.54%;
    top: 32.84%;
    bottom: 31.34%;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: rgba(0,0,0,0.0);
    border: none;
  }
  #navbar2 button.getinv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    left: 19.1%;
    right: 71.88%;
    top: 32.84%;
    bottom: 31.34%;
    width: 102px;
    height: 20px;

    /* Body/Medium */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: rgba(0,0,0,0.0);
    border: none;
  }
  #navbar2 button.services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    left: 30.76%;
    right: 62.36%;
    top: 32.84%;
    bottom: 31.34%;
    width: 71px;
    height: 20px;

    /* Body/Medium */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: rgba(0,0,0,0.0);
    border: none;
  }
  #navbar2 button.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    left: 40.28%;
    right: 53.12%;
    top: 32.84%;
    bottom: 31.34%;
    width: 67px;
    height: 20px;

    /* Body/Medium */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: rgba(0,0,0,0.0);
    border: none;
  }