/*Website Fonts*/
@font-face {
    font-family: RubikMedium;
    src: url(fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family: RubikBold;
    src: url(fonts/Rubik-Bold.ttf);
}
@font-face {
    font-family: RubikRegular;
    src: url(fonts/Rubik-Regular.ttf);
}

body { 
    overflow-x: hidden;
} 
/*White Header on Home Page*/
#header { 
    background-color: white;
    z-index: 100;
    height: 107px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
}

#header div {
    margin-left: auto;
}

#header div button:last-child {
      margin-right: 10px;
}

#picture {
    height: 71px;
    width: 71px;
    position: absolute;
    top: 23px;
    left: 148px;

}

/*Buttons on Header*/
.navbar-nav > li:not(:last-child) > a {
    margin-right: 10px; /* Adjust this value to reduce or increase the space between the buttons */
}

.guestButton {
    background-color: white;
    color: #E37861;
    padding: 10px 20px;
    border: 1px solid #E37861; 
    border-radius: 5px;
    font-family: RubikMedium;
    font-size: 16px;
    cursor: pointer;
    transform: translate(575%, 0%);
}

.guestButton:hover{
    text-decoration: underline;
}

.loginButton {
    background-color: #E37861;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: RubikMedium;
    font-size: 16px;
    cursor: pointer;
    transform: translate(-150%, 0%);
}

.loginButton:hover{
    text-decoration: underline;
}

/*Navigation Bar*/
.navbar {
    background-color: #5E7F64;
    z-index: 100;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    position: fixed;
    top: 107px;
    left: 0;
}

.navbar a {
    color: white;
    font-family: RubikMedium;
    transition: transform 0.2s;
    text-decoration: none;
}

.navbar a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

/*Navbar Drop-Downs*/
.navbar .dropdown:not(:last-child) {
    margin-right: 20px; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown {
    top: 23px;
    left: 148px;
    padding-left: 220px;
    font-size: 20px;
}

#Top h2{
    position: absolute;
    width: 522px;
    height: 99px;
    left: 153px;
    top: 253px;

    /* Display Title/Bold */

    font-family: RubikBold;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: capitalize;

    color: #000000;
}

#Top p{
    position: absolute;
    width: 444px;
    height: 100px;
    left: 150px;
    top: 394px;

    /* Body/large */

    font-family: RubikRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;

}
#Top img{
    position: absolute;
    width: 589px;
    height: 281px;
    left: 699px;
    top: 253px;
    border-radius: 8px;

}

#Pre-Order p{
    position: absolute;
    width: 461px;
    height: 54px;
    left: 186px;
    top: 626px;

    /* Body/Default */

    font-family: RubikRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    color: #000000;
    z-index: 2;
}

.card {
    background-color: white;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 557px;
    height: 214px;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card p {
    margin: 0;
    font-family: RubikRegular;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
  }
  
  .card-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 167px;
    height: 50px;
    background: #5E7F64;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .card-button:hover {
    text-decoration: underline;
  }
  
  .button-2 {
    bottom: 20px;
  }
  
  .button-2:hover {
    text-decoration: underline;
  }
  .card-1 {
    left: 150px;
    top: 626px;
  }
  
  .card-2 {
    left: 731px;
    top: 626px;
  }
  
  